//Font stack for titles, body txt will have Montserrat as default
$font-stack: 'Roboto', 'Montserrat', sans-serif;

//Body
$body-text-color: #ffffffec;
$body-text-size: 1rem;

//Each Section Title
$section-title-size: 2.5rem;
$section-title-mt: 1rem;

//home
$welcome-txt-size: 1.2rem;
$welcome-txt-weight: 600;
$title-home-size: 4rem;
$title-home-weight: 600;

//Projects
$project-stack-icon-size: 2rem;
$project-intro-title: 1.3rem;

//About
$about-h3-size: 1.5rem;
$about-text-box-mt: 2.3rem;

//Stack
$stack-icon-size: 65px;
$tool-name-size: 13px;


// Mobile Body text size 
$body-mobile-text-size: 0.9rem;