.body,
.html {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    /* Enable scrolling */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-snap-type: y mandatory;
}

.html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.body {
    background: linear-gradient(#000000, #1B263B);
    background-attachment: fixed;
    color: #ffffff;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    scroll-snap-align: start;
}

.home {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.intro {
    max-width: 35vw;
    margin-bottom: 7rem;
}

.welcome {
    color: #ffffff9c;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.name {
    display: inline;
    background: linear-gradient(45deg, #449bff, #899bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 4rem;
    margin: 15px 0;
}

.txt {
    color: #ffffff9c;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1rem;
}

.thanks {
    color: #ffffff9c;
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

.imgBox {
    position: relative;
    height: 370px;
    width: 265px;
    padding: 0 2rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #1B263B, #000000);
    box-shadow: -150px 0px 300px #579be983, 5px 5px 10px #000000;
    margin-bottom: 2rem;
}

.img {
    position: absolute;
    bottom: 0;
}

.angles {
    position: absolute;
    align-self: center;
    bottom: 1rem;
    font-size: 1.5rem;
}

// Projects Section

.projectsSection {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    scroll-snap-align: start;
}

.projectsIntro {
    margin: 2rem;
    align-self: center;
}

.projectsTitle {
    font-size: 2.5rem;
    margin: 0;
}

.projects {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80vw;
    overflow-y: scroll;
    margin-bottom: 3rem;
}

/* Customize the scrollbar track */
.projects::-webkit-scrollbar-track {
    height: 80%;
    background: #4e4e4e;
    border-radius: 10px;
    /* Red background for the track */
}

/* Customize the scrollbar thumb (draggable part) */
.projects::-webkit-scrollbar-thumb {
    background-color: #449bff;
    /* Blue color for the thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

/* Customize the scrollbar itself */
.projects::-webkit-scrollbar {
    width: 12px;
    /* Width of the vertical scrollbar */
    height: 12px;
    /* Height of the horizontal scrollbar */
}

// About section

.about {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    scroll-snap-align: start;
}

.aboutIntro {
    margin: 2rem;
    align-self: center;
}

.aboutTitle {
    font-size: 2.5rem;
    margin: 0;
}