@import './variables.module';
@import 'breakpoints';

.body,
.html {
    margin: 0;
    height: 100%;

    overflow-y: auto;

    @include xs {}
}

.body {
    background: linear-gradient(#000000, #1B263B);
    background-attachment: fixed;
    color: #ffffff;
}

.hidden {
    opacity: 0.5;

    @include xs {
        opacity: 1;
    }
}

/////////////////////

// Each section
.sections {
    display: flex;
    flex-direction: column;
    height: 100dvh;

    @include xs {}
}

//Home
.home {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;

    @include xs {
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
    }
}

.intro {
    max-width: 35dvw;
    margin-bottom: 7rem;

    @include xs {
        max-width: 100dvw;
        padding: 10px;
        margin: 1rem;
        text-align: center;
    }
}

.welcome {
    color: #579be9;
    font-size: $welcome-txt-size;
    font-weight: $welcome-txt-weight;
    margin: 0;

    @include xs {
        font-size: 1rem;
    }
}

.name {
    display: inline;
    background: linear-gradient(45deg, #449bff, #899bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-family: $font-stack;
    font-size: $title-home-size;
    font-family: $title-home-weight;
    margin: 15px 0;

    @include xs {
        font-size: 2rem;
    }
}

.txt {
    color: $body-text-color;
    margin: 0;
    margin-bottom: 20px;
    font-size: $body-text-size;

    @include xs {
        font-size: $body-mobile-text-size;
    }
}

.thanks {
    color: $body-text-color;
    margin: 0;
    font-weight: 500;
    font-size: $body-text-size;

    @include xs {
        display: none;
    }
}

.imgBox {
    position: relative;
    height: 370px;
    width: 265px;
    padding: 0 2rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #1B263B, #000000);
    box-shadow: -150px 0px 300px #579be983, 5px 5px 10px #000000;
    margin-bottom: 2rem;

    @include xs {
        margin-bottom: 0;
    }
}

.img {
    position: absolute;
    bottom: 0;
}

// ArrowUp
.arrowUp {
    position: absolute;
    align-self: center;
    top: 0;
    font-size: 1.3rem;
    animation: bounceUp 2s infinite;
    transition: 1s ease;
    padding: 5px 10px 10px 10px;

    @include xs {
        display: none;
    }
}

.arrowUp:hover {
    font-size: 1.7rem;
    cursor: pointer;
}

@keyframes bounceUp {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(15px);
    }

    60% {
        transform: translateY(8px);
    }
}

// ArrowDOWN
.arrowDown {
    position: absolute;
    align-self: center;
    bottom: 0;
    font-size: 1.3rem;
    animation: bounce 2s infinite;
    transition: 1s ease;
    padding: 10px 10px 5px 10px;

    @include xs {
        display: none;
    }
}

.arrowDown:hover {
    font-size: 1.7rem;
    cursor: pointer;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-8px);
    }
}


// Projects Section

.projectsIntro {
    margin: 2rem;
    align-self: center;

    @include xs {
        margin: 1rem;
    }
}

.projectsTitle {
    font-family: $font-stack;
    font-size: $section-title-size;
    margin: 0;
    margin-top: $section-title-mt;

    @include xs {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}

.projects {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80dvw;
    overflow-y: scroll;
    margin-bottom: 3rem;

    @include xs {
        width: 99dvw;
        overflow-x: hidden;
    }
}

/* Customize the scrollbar track */
.projects::-webkit-scrollbar-track {
    height: 80%;
    background: #4e4e4e;
    border-radius: 10px;
    /* Red background for the track */
    cursor: pointer;
}

/* Customize the scrollbar thumb (draggable part) */
.projects::-webkit-scrollbar-thumb {
    background-color: #449bff;
    /* Blue color for the thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
    cursor: grab;
}

/* Customize the scrollbar itself */
.projects::-webkit-scrollbar {
    width: 20px;
    /* Width of the vertical scrollbar */
    height: 12px;
    /* Height of the horizontal scrollbar */
}

// About section

.aboutIntro {
    margin: 2rem;
    align-self: center;

    @include xs {
        margin: 1rem;
    }
}

.aboutTitle {
    font-family: $font-stack;
    font-size: $section-title-size;
    margin: 0;
    margin-top: $section-title-mt;

    @include xs {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}

// Contact Section
.contactIntro {
    margin: 2rem;
    align-self: center;

    @include xs {
        margin: 1rem;
    }
}

.contactTitle {
    font-family: $font-stack;
    font-size: $section-title-size;
    margin: 0;
    margin-top: $section-title-mt;

    @include xs {
        margin-top: 0.5rem;
        font-size: 2rem;
    }
}

.returnHome {
    display: none;

    @include xs {
        display: inline;
        align-self: center;
        font-size: 1.5rem;
        animation: pulse 2s infinite;
        transition: 1s ease;
        padding: 10px 10px 5px 10px;
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}