.body,
.html {
    margin: 0;
    height: 100%;
}

.body {
    background: linear-gradient(#0D1B2A, #415A77);
    color: #ffffff;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.home {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.intro {
    max-width: 30vw;
}