.footer {
    align-self: flex-start;
    padding: 0.5rem 1.1rem;
    text-align: center;
    color: #fffffff1;
    background-color: #353535;
    box-shadow: 2px 5px 15px #b0b5be;
    border-radius: 0 0 1rem 1rem;
}
