@import '../../styles/variables.module';
@import '../../styles/breakpoints';

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;

    @include xs {
        display: none;
    }
}

.signature {
    position: relative;
}

.socials {
    display: flex;
    width: 100%;
}

.socials a {
    margin: 5px 15px;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.icons {
    font-size: x-large;
    color: #ffffff;
    border-radius: 10px;
}

.navBar button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 600;
    font-size: $body-text-size;
    border-radius: 5px;
}

.navBar button:hover {
    box-shadow: 0 0 5px #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

////////////////////
/////  Mobile //////

/* styles.scss */

/* styles.scss */

.navbarmobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu {
    position: fixed;
    top: 60px;
    /* Adjust based on the height of your navbar */
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
    padding: 20px 0;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px 0;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #555;
    }
}

.menu ul li:last-child {
    border-bottom: none;
}

.menuToggle {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuToggle svg {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.menuToggle svg path {
    stroke: white;
}