@import '../../styles/variables.module';

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
}

.signature {
    position: relative;
}

.socials {
    display: flex;
    width: 100%;
}

.socials a {
    margin: 5px 15px;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.icons {
    font-size: x-large;
    color: #ffffff;
    border-radius: 10px;
}

.navBar button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 600;
    font-size: $body-text-size;
    border-radius: 5px;
}

.navBar button:hover {
    box-shadow: 0 0 5px #ffffff;
    cursor: pointer;
    transition: 0.3s;
}