@import '../../styles/variables.module';
@import '../../styles/breakpoints';

.swiper {
    width: 30dvw;
    height: 300px;
    padding: 50px;
    margin: 0;

    @include xs {
        padding: 0 50px;
        width: 70dvw;
    }
}

.swiperSlide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
}

.swiperSlide img {
    display: block;
    width: 100%;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    @include xs {
        flex-direction: column;
        gap: 0;
    }
}

.quoteBox {
    padding: 10px;
    width: 30dvw;

    @include xs {
        width: 90dvw;
    }
}

.quoteBox h3 {
    margin: 0;
    font-size: $project-intro-title;

    @include xs {
        font-size: 1.1;
    }
}

.quoteBox p {
    color: $body-text-color;
    font-size: $body-text-size;

    @include xs {
        font-size: $body-mobile-text-size;
    }
}

.btnsBox {
    padding-top: 1rem;
    display: flex;
    gap: 1.5rem;

    @include xs {
        padding-bottom: 1rem;
    }
}

.btnsBox a {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    font-size: $body-text-size;

    @include xs {
        font-size: $body-mobile-text-size;
    }
}

.btnsBox a:hover {
    background-color: #3191ff;
    box-shadow: 0 0 5px #ffffff;
    transition: 0.2s ease-in;
}

.stack {
    display: flex;
    font-size: $project-stack-icon-size;
    gap: 1rem;
}

.SiNextdotjs {
    color: #000000;
    background-color: #ffffff;
    border-radius: 100%;
    border: 1px solid #ffffff;
}

.SiTailwindcss {
    color: #30c4ff;
}

.SiDaisyui {
    padding: 0 1px;
    background: linear-gradient(45deg, #ff0000, #003cff);
    border-radius: 100%;
}

.SiTerraform {
    color: #2369ff;
}

.SiSupabase {
    color: #0ee20e;
}

.SiTypescript {
    color: #008cff;
    background-color: #ffffff;
    border-radius: 3px;
}

.SiPlaywright {
    color: #0ee20e;
}

.SiJavascript {
    color: #f1e211;
    border-radius: 3px;
}

.SiCss3 {
    color: #3091ff;
}

.SiSass {
    color: #e372ff;
}